---
nomad_server_gossip_key: ${NOMAD_SERVER_GOSSIP_KEY}
consul_server_gossip_key: ${CONSUL_SERVER_GOSSIP_KEY}
vault_token: ${VAULT_TOKEN}
vault_appid: ${VAULT_APPROLE_ID}
vault_appsecret: ${VAULT_APPROLE_SECRET}