#!/usr/bin/env bash

source {{ consul_template_rendered_dir }}/logger.sh

# Setup Consul address info
export CONSUL_HTTP_ADDR="https://localhost:8501"
export CONSUL_CLIENT_CERT="{{ consul_certs_dir }}/consul.pem"
export CONSUL_CLIENT_KEY="{{ consul_certs_dir }}/consul-key.pem"
export CONSUL_CACERT="{{ consul_certs_dir }}/consul-ca.pem"

if [ -f ${CONSUL_CLIENT_CERT} ] && [ -f ${CONSUL_CLIENT_KEY} ] && [ -f ${CONSUL_CACERT} ]; then
    logInfo "Reloading Consul"
    consul reload
else
    logWarning "Certificates not found in {{ consul_certs_dir }}"
fi