{{ '{{' }} with secret "pki_consul/issue/consul-dc1" "common_name={{ consul_template_type }}.dc1.consul" "ttl=24h" "alt_names={{ ansible_fqdn }},localhost" "ip_sans={{ ansible_default_ipv4.address }},127.0.0.1" {{ '}}' }}
{{ '{{' }} .Data.certificate {{ '}}' }}
{{ '{{' }} end {{ '}}' }}
