{{ '{{' }} with secret "pki_consul/issue/consul-dc1" "common_name={{ consul_template_type }}.dc1.consul" "ttl=24h" "alt_names={{ ansible_fqdn }}" "ip_sans={{ ansible_default_ipv4.address }}" {{ '}}' }}
{{ '{{' }} index .Data.ca_chain 0 {{ '}}' }}
{{ '{{' }} index .Data.ca_chain 1 {{ '}}' }}
{{ '{{' }} end {{ '}}' }}
