LXC_TEMPLATE = "iso:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst"
LXC_PASSWORD = "supersecretpassword"

VIRTUAL_IP   = "192.168.0.3"
MASTER_IP    = "192.168.0.4"
BACKUP_IP    = "192.168.0.5"
NAMESERVER   = "192.168.0.2"
LOCAL_DOMAIN = "homelab.local"
GATEWAY      = "192.168.0.1"
CIDR_BLOCK   = "24"

PM_MASTER_NODE = "pve1"
PM_BACKUP_NODE = "pve2"