vault {
  address = "https://vault.homelab.local"
  ca_cert = "{{ vault_certs_dir }}/vault-ca.pem"
  retry {
    num_retries = 5
  }
}

auto_auth {

  method {
    type = "approle"

    config = {
      role_id_file_path = "{{ vault_dir }}/roleid"
      secret_id_file_path = "{{ vault_dir }}/secretid"
      remove_secret_id_file_after_reading = false
    }
  }
}

sinks {
  sink {
    type = "file"

    config = {
      path = "/var/lib/secretid.txt"
    }
  }
}


template_config {
  static_secret_render_interval = "1m"
  exit_on_retry_failure         = true
}
