template {
  source      = "{{ vault_agent_templates_dir }}/consul.pem.tpl"
  destination = "{{ consul_certificate }}"
  perms = 0644
  user = "consul"
  group = "consul"
  left_delimiter  = "{{ '{{' }}"
  right_delimiter = "{{ '}}' }}"
  command     = "bash {{ vault_agent_rendered_dir }}/consul-reload.sh"
}

template {
  source      = "{{ vault_agent_templates_dir }}/consul-ca.pem.tpl"
  destination = "{{ consul_ca }}"
  perms = 0644
  user = "consul"
  group = "consul"
  left_delimiter  = "{{ '{{' }}"
  right_delimiter = "{{ '}}' }}"
  command     = "bash {{ vault_agent_rendered_dir }}/consul-reload.sh"
}

template {
  source      = "{{ vault_agent_templates_dir }}/consul-encryption-key.tpl"
  destination = "{{ vault_agent_rendered_dir }}/consul.key"
  perms = 0600
  user = "consul"
  group = "consul"
  left_delimiter  = "{{ '{{' }}"
  right_delimiter = "{{ '}}' }}"
  command     = "bash {{ vault_agent_rendered_dir }}/consul-encryption-script.sh"
}

template {
  source      = "{{ vault_agent_templates_dir }}/consul-acl.tpl"
  destination = "{{ consul_dir }}/consul-acl.hcl"
  perms = 0644
  user = "consul"
  group = "consul"
  left_delimiter  = "{{ '{{' }}"
  right_delimiter = "{{ '}}' }}"
  command     = "bash {{ vault_agent_rendered_dir }}/consul-reload.sh"
}
