# Rename this file to proxmox.env in the same folder

# Proxmox
PM_API_TOKEN_ID={PROXMOX_API_TOKEN_ID} # Replace with value retrieve from Proxmox
PM_API_TOKEN_SECRET={PROXMOX_API_TOKEN_SECRET} # Replace with value retrieve from Proxmox
export PM_API_TOKEN_ID=${PM_API_TOKEN_ID}
export PM_API_TOKEN_SECRET=${PM_API_TOKEN_SECRET}

# Pihole
TF_VAR_PIHOLE_API_KEY={PIHOLE_ADMIN_API_KEY} # Replace with value retrieve from Pihole admin interface
export TF_VAR_PIHOLE_API_KEY=${TF_VAR_PIHOLE_API_KEY}

# Terraform init variables
TF_DATA_DIR="./.terraform_backend"
export TF_DATA_DIR=${TF_DATA_DIR}