server {
  enabled = false
}

client {
  enabled = true
  servers = [ "nomad.homelab.local:4647" ]
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    endpoint  = "unix:///var/run/docker.sock"
    gc {
      image       = true
      image_delay = "3m"
      container   = true

      dangling_containers {
        enabled        = true
        dry_run        = false
        period         = "5m"
        creation_grace = "5m"
      }
    }

    volumes {
      enabled      = true
      selinuxlabel = "z"
    }
  }

}
