global
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    mode    http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend myweb
    bind {{ virtual_ip }}:443
    mode tcp
    option tcplog
    option http-server-close
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    use_backend proxmox-backend if { req.ssl_sni -i pve.homelab.local }
    use_backend nomad-backend if { req.ssl_sni -i nomad.homelab.local }
    use_backend vault-backend if { req.ssl_sni -i vault.homelab.local }

backend proxmox-backend
    mode tcp
    balance roundrobin
    option tcp-check

    # Change these hosts to suite your needs
{% for host in groups.proxmox -%}
{% if host == groups.proxmox[0] %}
    server {{ host }} {{ host }}:{{ proxmox_port }} check
{% else %}
    server {{ host }} {{ host }}:{{ proxmox_port }} check backup
{% endif %}
{%- endfor %}

backend nomad-backend
    mode tcp
    balance roundrobin
    option tcp-check
    server nomad-server0.homelab.local nomad-server0.homelab.local:4646 check
    server nomad-server1.homelab.local nomad-server1.homelab.local:4646 check
    server nomad-server2.homelab.local nomad-server2.homelab.local:4646 check

backend vault-backend
    mode tcp
    balance roundrobin
    option tcp-check
    server vault0.homelab.local vault0.homelab.local:8200 check
    server vault1.homelab.local vault1.homelab.local:8200 check
    server vault2.homelab.local vault2.homelab.local:8200 check
    
## Listeners

listen nomad-http
    bind {{ virtual_ip }}:4646
    mode tcp
    balance roundrobin
    option tcp-check
    server nomad-server0.homelab.local nomad-server0.homelab.local:4646 check
    server nomad-server1.homelab.local nomad-server1.homelab.local:4646 check
    server nomad-server2.homelab.local nomad-server2.homelab.local:4646 check

listen nomad-rpc
    bind {{ virtual_ip }}:4647
    mode tcp
    balance roundrobin
    option tcp-check
    server nomad-server0.homelab.local nomad-server0.homelab.local:4647 check
    server nomad-server1.homelab.local nomad-server1.homelab.local:4647 check
    server nomad-server2.homelab.local nomad-server2.homelab.local:4647 check
